* {
    box-sizing:border-box;
}

body {
  background-color:#1F2937;
  font-family: 'Poppins', Arial, sans-serif;
}

.business-card {
    width:90%;
    max-width:300px;
    background-color:white;
    color:rgb(73, 73, 73);
    text-align:center;
    font-size:1rem;
    padding:20px;
    margin:5vh auto;
    border-radius:8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

img {
    border-radius: 50%;
}

h3, p, a {
    margin-top:5px;
    margin-bottom:5px;
}

.full-name {
    font-weight:700;
    font-size:1.2rem;
    
}

hr {
    margin:10px 0;
    background-color:#044492;
    height: 3px;
    border:none;
    border-radius: 2px;
}

.profile-image {
  max-width:100%
}

.social-media a {
    border-right: 2px solid #044492;
    padding: 0 10px;
    text-decoration: none;
}

.social-media a:last-child {
    border-right:none;
}


a:link, a:visited {
    color:#044492;
    text-decoration:none;
}

a:hover {
    color:rgb(4, 4, 190);
    text-decoration: underline;
}